@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Saira:400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body, *{
	font-family: 'Saira', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
table{
	font-size: 14px;
	margin-bottom: 150px !important;
}
.first{
	background-image: url(../img/digital.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.login {
	margin-top: 120px !important;
	opacity: 0.95;
}
.lista-alunos{
	margin-bottom: 10px !important;
}
.check{
	text-align: right;
	width: 20px;
}
.tabela-user{
	font-size: 18px !important;
}
.tabela-user th{
	text-transform: uppercase;
	text-align: right;
	width: 200px;
}
.tabela-user * {
	vertical-align: middle !important;
}
.bold{
	font-weight: 900 !important;
}
.container, .border{
    background-color: #fbfbfb;
}
.border{
	width: 700px;
	margin: 20px auto;
	padding-top: 15px;
}
.left {
	width: 95%;
}
.titulo {
	font-size: 26px;
	font-weight: 500;
	padding-left:15px;
}

.flex{
    display: flex;
}
.topo{
    padding: 10px;
    display: flex; 
    align-items: center;
}
.topo a{
    color: #000;
    text-decoration: none;
    vertical-align: middle;
}

.icon{
    height: 28px;
}
.main{
    padding-top: 15px;
}
.mainMenu{
    border-right: solid 2px #000;
    padding: 40px;
}
.mainBox{
    padding: 10px;
}
.insert{
    font-size: 15px;
	margin: 30px auto;
	width: 500px;
	margin-bottom: 50px !important;	
}
.insert td:first-child{
	text-align: right;
	padding-top: 15px;
	width: 130px;	
    font-weight: bold;
}
.info{
    margin-right: 40px;
	text-align: center;
	width: 240px;
	height: 70vh;
	background-color: #999;
	color: #fff;
    padding: 20px 10px;
}
.info h5, .info h6{
	text-align: center;
	color: #fC3;
	text-shadow: 1px 1px 3px #000;
}
.info img{
	width: 80%;	
	margin: 10px;
}
.info ul{
	list-style-type: none;
	padding-top: 10px;	
	padding-left: 20px;	
}
.info li{
	margin: 5px 0;	
}
.negrito{
	font-weight: bold;
	color: #000;	
}
.ucs{
	width: 300px;
	display: inline-block;
	margin: 30px 20px 0 0;
	padding: 10px;
	box-shadow: 0px 0px 6px 4px #777;
	text-align: center;
}
.ucs h3{
	margin: 0;
	text-align: center;
	color: #ffa200;
	background: linear-gradient(to top, #4265ce 0%,#13208e 59%);
	font-size: 22px;
	padding: 8px 0;
}
.ucs img{
	width: 80%;
	margin: 10px 0;
}
.uc{
	width: 90%;
	color: #00C;
	font-weight: 700;
	margin-bottom: 8px;
}	

.box{
	width: 115px;
	display: inline-block;
	margin: 12px 10px !important;
	padding: 8px;
	box-shadow: 0px 0px 6px 4px #777;
	text-align: center;
}
.box img {
	display: block;
	height: 64px;
	margin: 10px auto;
}
.mainBox a{
	color: #777;
	text-decoration: none;
	cursor: pointer;
	&:hover{
		color: #000;
	}
}
.box:hover{
	box-shadow: 0px 0px 6px 4px #000;
}
.cadastra input{
	margin-bottom: 15px !important;
}
.dis{
	vertical-align: middle;
}
.log img{
	width: 30px;
}
.log img:hover{
	filter: opacity(50%);
}
.lnk a:hover{
	color: #ffa200 !important;
}
.fa-whatsapp{
	color:#00ff00;
	margin-right:5px;
}
.lil{
	background-color: #fff;
	border-radius: 50%;
}